.Header {
  display: flex;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #131921;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.Header_search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
  justify-content: space-around;
}

.Header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin: 10px;
}
